/* ipads and tablets */
@media screen and (max-width: 768px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ div {
    display: none;
  }

  [aria-expanded="true"] ~ div {
    position: absolute;;
    top: 100px;
    right: 0;
    left: 0;
    text-align: center;
    padding: 50px 200px 100px;
    background-color: white;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid lightgrey;
  }

  [aria-expanded="true"] ~ div ul {
    display: flex;
    background-color: white;
  }

  [aria-expanded="true"] ~ div .btn {
    display: block;
    width: 8rem;
  }
}