header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out .3s;
}

header.sticky {
  background-color: white;
  box-shadow: 0 0 20px rgba(42, 63, 100, .2);
}

.navbar-toggler {
  position: absolute;
  right: 50px;
  top: 25px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: slategray;
  font-size: 30px;
  cursor: pointer;
  pointer-events: none;
  z-index: 10;
}


[aria-controls="navbarDropdown"] {
  display: none;
}

#header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  z-index: 100;
}

#header-logo img {
  width: 200px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: ease-in-out .2s;
}

.header-nav div {
  display: flex;
  gap: 40px;
  transition: ease-in-out .2s;
}

.header-nav div ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-nav div ul li a {
  color: grey;
  font-size: 15px;
}

.header-nav div ul li a:hover {
  color: dodgerblue;
}

.banner {
  background-image: url();
  background-color: lightgrey;
  width: 100%;
  height: 700px;
  padding: 150px 0;
}

div.text-wrap {
  flex-direction: column;
  align-items: normal;
  width: 450px;
}

.text-wrap .text h1 {
  font-size: 50px;
  font-weight: 500;
  margin: 0;
}

.text-wrap .text p {
  color: grey;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 50px;
}

div.btn-wrap {
  width: 250px;
}

.play h6 {
  margin: 0;
}

.play {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

a.learn-more {
  font-weight: 600;
  font-size: 14px;
  color: dodgerblue;
}

.logo-grid {
  max-width: 500px;
  max-height: 500px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.logo-grid div {
  text-align: center;
  margin: auto;
}

.icon {
  width: 75px;
  margin: 4px 0;
  padding: 11px;
}

#google .icon,
#google-A .icon {
  width: 50px;
  margin: 4px 0;
  padding: 5px;
}

#google {
  width: 60px;
  height: 60px;
  grid-area: 1 / 2 / 3 / 4;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 1px 7px grey;
}

#atlassian {
  width: 85px;
  height: 85px;
  grid-area: 1 / 6 / 4 / 9;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 1px 7px grey;
}

#asana {
  width: 85px;
  height: 85px;
  grid-area: 1 / 14 / 4 / 17;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 1px 7px grey;
}

#paypal {
  width: 85px;
  height: 85px;
  grid-area: 7 / 1 / 10 / 4;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 1px 7px grey;
}

#weave {
  width: 85px;
  height: 85px;
  grid-area: 7 / 9 / 10 / 12;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 1px 7px grey;
}

#google-A {
  width: 60px;
  height: 60px;
  grid-area: 11 / 5 / 13 / 7;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 1px 7px grey;
}

#calendar {
  width: 85px;
  height: 85px;
  grid-area: 12 / 13 / 15 / 16;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 1px 7px grey;
}

.title-block {
  text-align: center;
  margin: auto;
  max-width: 600px;
}

.title-block p {
  color: slategrey;
}

.keycards {
  display: flex;
  max-width: 1300px;
  align-items: center;
  margin: auto;
  gap: 30px;
  padding: 100px 0;
}

.keycard {
  width: 250px;
  border: 1px solid transparent;
  box-shadow: 0 6px 7px lightgrey;
  padding: 18px;
  transition: ease-in-out .2s;
  margin: auto;
}

.keycard:hover {
  box-shadow: 0 6px 9px grey;
}

.keycard img {
  width: 50px;
}

.keycard h3 {
  font-size: 18px;
  margin: 20px 0;
}

.keycard p {
  color: grey;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0;
  line-height: 1.8;
}

.feature-banner {
  max-width: 100%;
  align-items: normal;
  background-color: rgba(250, 250, 255, 1);
  padding: 100px 20px 0;
}

.feature-banner .text {
  min-width: 450px;
  max-width: 450px;
}

.feature-banner img {
  width: 450px;
}

.bullets {
  display: flex;
  justify-content: center;
  gap: 0px;
  width: 800px;
  margin: 75px auto;
}

.bullet {
  text-align: center;
  width: 50px;
  margin: 0 5px;
}

.plate {
  width: 50px;
  height: 50px;
  background-color: rgba(100, 150, 255, .3);
  border-radius: 30px;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: blue;
  border-radius: 5px;
  margin: auto;
  position: relative;
  top: 22.5px;
}

.bullet h3 {
  font-size: 14px;
  width: 200px;
  margin: 30px 0 30px -70px;
}

.spacer {
  background-color: rgba(100, 150, 255, .3);
  height: 1px;
  width: 100%;
  position: relative;
  top: 25px;
}

.learn-banner {
  width: 100%;
  height: 500px;
  background: url(../Assets/banners/banner_two.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.video {
  margin: auto;
  padding: 0;
  box-shadow: 0 0 10px grey;
  border: none;
  border-radius: 50px;
  width: 75px;
  height: 75px;
  position: relative;
  top: 225px;
  left: 47%;
}

.video i {
  color: black;
  background-color: white;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  font-size: 20px;
  margin: auto;
  padding: 28px 32px;
}

.review {
  height: 500px;
  display: flex;
  gap: 10px;
}

.profile {
  width: 450px;
}

.accent {
  z-index: -1;
  position: relative;
  top: 100px;
  width: 200px;
}

.pro {
  position: relative;
  top: -350px;
  left: 55px;
  width: 350px;
}

.comment {
  width: 500px;
  padding: 100px 0 0;
}

.comment img {
  width: 100px;
}

.comment p {
  font-size: 24px;
  margin: 40px 0;
}

.comment h3 {
  font-size: 18px;
  margin: 0;
  padding: 20px 0 0;
}

.comment h4 {
  font-size: 14px;
  color: slategray;
  margin: 0;
}

.brand-flex {
  height: 225px;
  margin: auto;
}

.brand-flex p {
  text-align: center;
  text-transform: capitalize;
  color: slategray;
  padding: 30px;
  font-size: 20px;
  font-weight: 600;
}

.brand-flex div {
  margin: 0;
}

.clogo {
  width: 120px;
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 75px 0;
  gap: 50px;
}

.price-card {
  width: 400px;
  box-shadow: 0 6px 7px lightgrey;
  padding: 40px;
  grid-row: 1 / 3;
  transition: ease-in-out .2s;
}

.price {
  display: flex;
  align-items: baseline;
}

.price h2 {
  font-size: 50px;
  font-weight: 400;
  margin: 30px 0;
}

.price p {
  color: slategray;
  font-size: 20px;
  margin: 0;
}

.price-card > p {
  color: slategray;
  margin: 30px 0 50px;
}

.price-card > h6 {
  color: slategray;
  margin: 5px;
}

.price-card:hover {
  box-shadow: 0 9px 10px grey;
}

.service {
  width: 240px;
  height: 150px;
}

.service img {
  width: 50px;
}

.service h3 {
  font-size: 18px;
  letter-spacing: -1px;
}

.service p {
  font-size: 14px;
  color: slategray;
}

.hire-us {
  background-color: rgb(30, 50, 90);
}

.hire .text {
  width: 450px;
  color: white;
  padding: 150px 0 0 50px;
  line-height: 1.5;
}

.hire .text > div:first-of-type {
  width: 200px;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}

.hire .text > div h2 {
  font-size: 26px;
}

.hire .text > div p {
  color: slategray;
  margin-bottom: 30px;
  width: 180px;
}

.hire .text .emph {
  margin-bottom: 60px;
}

.hire .text h3 {
  margin: 0;
  font-size: 18px;
}

.hire .text h4 {
  color: slategray;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.hire .text .flex {
  width: 200px;
  margin: 50px 0;
}

.hire .text .flex img {
  width: 40px;
  border-radius: 50px;
}

.hire .text .flex img:last-child {
  width: 60px;
}

.hire form {
  width: 450px;
  height: 650px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin: 30px;
  box-shadow: 0 0 6px black;
  transition: ease-in-out .2s;
}

.hire form:hover {
  box-shadow: 0 0 8px lightgray;
}

.hire form h3 {
  font-size: 14px;
}

.hire form .form-item {
  width: 182px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 15px 5px;
  margin: 10px 0;
}

.hire form input[type="text"]:nth-of-type(odd) {
  margin-right: 20px;
}

.hire form select:nth-of-type(odd) {
  margin-right: 20px;
}

.hire form textarea.form-item {
  width: 390px;
  color: slategray;  
}

.hire form input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  outline: 1px solid lightgray;
  appearance: none;
  float: left;
  margin: 10px;
}

.hire form input[type="checkbox"]:checked {
  background: url(../Assets/icons/square-check-solid.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.hire form label {
  font-size: 13px;
  color: slategray;
}

.hire form a {
  display: block;
  width: 155px;
  border-bottom: 1px dotted;
  margin: 10px 50px;
}

.hire form button {
  margin: 20px 130px;
}

footer div.container > div.flex:first-of-type {
  justify-content: initial;
  align-items: flex-start;
  gap: 50px;
  margin: 100px 0;
}

.contact {
  width: 320px;
  color: slategray;
  margin-top: 15px;
}

.contact img {
  width: 50%;
  display: block;
}

.contact i {
  margin: 0;
  float: left;
  padding: 3px 10px;
}

.contact p {
  margin: 0;
}

.contact p:nth-of-type(2) {
  color: dodgerblue;
  cursor: pointer;
}

.nav-grid {
  max-width: 750px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-list ul li {
  margin: 10px 0;
  color: slategray;
}

.nav-list ul li a {
  color: slategray;
  font-size: 14px;
}

.nav-list ul li:hover {
  color: dodgerblue;
  cursor: pointer;
}

.nav-list ul li a:hover {
  color: dodgerblue;
}

.nav-list ul li i {
  padding: 3px 10px;
  font-size: 14px;
}

footer .container .flex p {
  color: slategray;
}

footer .container .flex p a {
  color: slategray;
}

footer .container .flex p a:hover {
  color: dodgerblue;;
}

footer hr {
  border-top: 1px solid rgba(200, 200, 200, .3);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

footer .social-wrap {
  gap: 20px;
  padding: 25px 0;
}

footer .social {
  gap: 20px;
}

footer .flex .social div {  
  height: 30px;
  width: 30px;
  background-color: dimgray;
  border-radius: 5px;
  border: 1px solid transparent;
}

footer .flex .social div:hover {
  background-color: rgb(225, 235, 255);
}


footer .flex .social i {
  font-size: 40px;
  color: rgb(225, 235, 255);
  line-height: .7;
  margin: 0 10px;
  cursor: pointer;  
  position: relative;
  top: -2px;
  left: -12px;
}

footer .flex .social i:hover {
  color: grey;
  background-color: rgb(225, 235, 255);
}

footer .flex select {
  padding: 5px 20px;
  font-size: 20px;
  background-color: rgb(225, 235, 255);
  border: 1px solid rgb(225, 235, 255);
  border-radius: 5px;
  outline: none;
  position: relative;
  top: -2px;
}

footer .container > p {
  max-width: 800px;
  text-align: center;
  color: slategray;
  margin: auto;
  padding: 30px 0;
}